@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
.title{
    font-family: Abel;
}

#navbarNav > ul > li {
    /*font-family: Anton;*/
}

.bold-header {
    font-family: Anton;
}

body {
    background-color: #F0F0F0;
}

.pill{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    line-height: 90px;
    border: 6px solid white;
    color: white;
    font-weight: bold;
    font-family: Anton;

}

.pill-1 {
    background-color: #E6563B;
}

.pill-2 {
    background-color: #EB9B3A;
}
.pill-3 {
    background-color: #7CB06C;
}
.pill-4 {
    background-color: #00ABA9;
}
.img-color {
    background: #E6E6E6;
}
.red {
    background: #E6563B;
}

.orange {
    background: #EB9B3A;
}

.green {
    background: #7CB06C;
}
.blue {
    background: #00ABA9;
}

.small-pill {
    font-family: anton;
    font-weight: bold;
}

