@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
.title{
    font-family: Abel;
}

#navbarNav > ul > li {
    /*font-family: Anton;*/
}

.bold-header {
    font-family: Anton;
}

body {
    background-color: #F0F0F0;
}

.pill-1 {
    background-color: #E6563B;
}

.pill-2 {
    background-color: #EB9B3A;
}
.pill-3 {
    background-color: #7CB06C;
}
.pill-4 {
    background-color: #00ABA9;
}
